/* App.css */
body, html {
  height: 100%;
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #0a0a0a; /* dark background */
  color: white;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.ButtonsRow {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

button {
  background-color: #222;
  color: white;
  border: 1px solid #0ff; /* neon border */
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

button:hover {
  background-color: #333;
  transform: translateY(-2px);
}

.AudioDownloadGroup {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
  margin-top: 10px;
  border: 1px solid #0ff; /* neon border */
  
}

.mediaControls {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  justify-content: center;
  align-content: center;
  justify-items: center; 
  align-items: center;
  gap: 100px;
  width: 90%;
  max-width: none;
  margin-top: 10px;
}

@media (max-width: 600px) {
  .mediaControls {
    grid-template-columns: 1fr;
  }
}

button, img, input {
  box-shadow: 0 0 5px #0ff;
}

button:focus, button:hover, img:hover {
  box-shadow: 0 0 8px #0ff, 0 0 10px #0ff;
}


.AppBanner {
  width: 100%;
  background-color: #0a0a0a; 
  padding: 10px 0;
  position: fixed;
  bottom: 0; 
  left: 0;
}

.AppBannerLinks {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 20px; 
}

.AppBannerLinks a {
  color: #0ff; 
  text-decoration: none;
  padding: 0 10px; 
}

.AppBannerLinks a:hover {
  text-decoration: underline; 
}

.AppBannerSeparator {
  color: #0ff; 
}
